@import "tailwindcss";

@font-face {
  font-family: "osrs";
  src: url("runescape.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply antialiased font-normal bg-black;
    font-family: "osrs", sans-serif;
  }
}
